# dependencies
node_modules/

# build output
dist/
dist-tauri/

# tauri
src-tauri/target/

# vite
*.local
.vite/

# OS
.DS_Store
Thumbs.db

# editor
.vscode/settings.json
.idea/
*.swp
*.swo

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.*
